CAREGRID_MQTT_HOST=127.0.0.1
CAREGRID_MQTT_PORT=1883
CAREGRID_MQTT_USERNAME=caregrid
CAREGRID_MQTT_PASSWORD=change-me
CAREGRID_DB_PATH=/opt/caregrid/raspberry-pi/data/caregrid.db
CAREGRID_API_HOST=0.0.0.0
CAREGRID_API_PORT=8000
CAREGRID_SIMULATOR_PUBLISH_INTERVAL=5
